.navbar {
    width: 100%;
    height: 8vh;
    background-color: rgb(125, 177, 131);
}
.links {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.navbar a {
    color: black;
    text-decoration: none;
    margin: 15px;
    font-size: 1.5em;
  }
.navbutton {
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.navbutton svg {
    font-size: 40px;
}

.navbutton button {
    margin-right: 2em;
    background-color: transparent;
    border: none;
    color: black;
    cursor: pointer;
}

#open .links {
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 100px;
}

#open a {
    width: 100%;
    text-align: center;
}

@media only screen and (max-width: 900px) {
    .navbar a {
        width: 70px;
    }
}

@media only screen and (max-width: 600px) {
    .navbutton {
        display: flex;
    }
    #close a {
        display: none;
    }
}

@media only screen and (min-width: 600px) {
    .navbutton {
        display: none;
    }
    .hiddenLinks {
        display: none;
    }
    #open {
        height: 100px;
    }
    #open .links {
        flex-direction: row;
    }
}

